/* ---------------------- NAV ------------------------ */

.nav {
    width: 100vw;
    height: auto;
    background-color: var(--color-dark-white);

    .nav-menu-burger {
        display: none;
    }

    .nav-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-ul {
            height: auto;
            display: flex;
            align-items: center;
            margin: 0;

            .nav-link {
                display: block;
                padding: 10px 15px;
                transition: all .3s ease-in-out;

                img {
                    width: auto;
                    height: 100%;
                }
            }

            .nav-link-active {
                background-color: var(--color-white);
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .nav {
        width: 5rem;
        height: 5rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 99;
        border-radius: 50%;
        display: grid;
        align-items: center;

        .nav-div {
            position: absolute;
            width: 100vw;
            height: 100dvh;

            img {
                display: none;
            }
        }

        .nav-menu-burger {
            display: block;
        }
    }
}

/* --------------------------- FOOTER --------------------------------- */
.footer {
    width: 100vw;
    background-color: var(--color-black);
    color: var(--color-white);

    .footer-p {
        padding: 5px 0;
    }
}

