/* ---------------------- NAV ------------------------ */

.nav {
    width: 100vw;
    height: auto;
    background-color: var(--color-dark-white);

    .nav-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-ul {
            height: auto;
            display: flex;
            align-items: center;
            margin: 0;

            .nav-link {
                display: block;
                padding: 10px 15px;
                transition: all .3s ease-in-out;

                img {
                    width: auto;
                    height: 100%;
                }
            }

            .nav-link-active {
                background-color: var(--color-white);
            }
        }
    }
}

/* --------------------------- FOOTER --------------------------------- */
.footer {
    width: 100vw;
    background-color: var(--color-black);
    color: var(--color-white);

    .footer-p {
        padding: 5px 0;
    }
}